PORT=4000
NODE_ENV=production
DATABASE_URL="postgresql://postgres:your_secure_postgres_password@localhost:5432/clinic_systems?schema=public"
JWT_SECRET="replace_with_a_secure_random_64_char_secret_key_in_production"
JWT_EXPIRES_IN="7d"

BAKONG_ACCOUNT_ID="rotana_clinic@aba"
BAKONG_MERCHANT_NAME="Rotana Clinic"
BAKONG_MERCHANT_CITY="Phnom Penh"
BAKONG_CURRENCY="USD"
